version: ~> 1.0

import:
  - silverstripe/silverstripe-travis-shared:config/provision/standard-jobs-range-behat-npm.yml

env:
  global:
    - REQUIRE_RECIPE_TESTING="^2"
    - REQUIRE_FRAMEWORKTEST="^0.4.2"
    - SS_MFA_SECRET_KEY=TEST123
    # Used by behat-extension LoginContext which expects a screen to choose either totp or webauthn when not skipping mfa
    - REQUIRE_EXTRA="silverstripe/webauthn-authenticator:^4"
