$totp-img-size: 200px;
$scan-qr-height: 160px;
$scan-qr-manual-border-color: #cccccc;
$color-status-bad: rgba(169, 30, 46, 1); // $color-message-error from mfa module
$viewport-small: 480px;
$viewport-medium: 768px;

.mfa-totp {
  // Note: .form-control added for specificity
  &__code.form-control {
    font-size: 2rem;
    letter-spacing: 1rem;
    width: 80%;

    // Tablet only
    @media (max-width: $viewport-medium) {
      width: 100%;
    }
  }

  &__errors {
    color: $color-status-bad;
  }

  &__validate-code {
    display: flex;
    margin-bottom: 1rem;
  }

  &__validate-left {
    flex: 1;

    p {
      margin-bottom: 3rem;
    }
  }

  /* Manual sizing required for IE 11 to compute layout correctly */
  &__validate-img {
    height: $totp-img-size;
    width: $totp-img-size;
  }

  &__validate-right {
    margin-left: 1rem;
    text-align: center;
  }

  &__scan-code {
    align-items: stretch;
    display: flex;
    margin: 3rem 0;
  }

  // QR code container
  &__scan-left {
    flex: 1;
    height: $scan-qr-height;
  }

  &__scan-middle {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    text-transform: uppercase;
  }

  // Manual code entry area
  &__scan-right {
    border: 1px solid $scan-qr-manual-border-color;
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    text-align: center;

    p:last-child {
      margin: 0;
    }
  }
}

// Tablet only
@media (max-width: $viewport-medium) {
  // IE11 squishes all text until mobile point, unless we get rid of the image (which we need to do for mobile anyway).
  .mfa-totp__validate-right {
    display: none;
  }
}

// Mobile only
@media (max-width: $viewport-small) {
  .mfa-register-totp {
    &__scan-code {
      align-items: center;
      flex-direction: column;
    }

    &__scan-left,
    &__scan-middle {
      margin-bottom: 1rem;
    }
  }
}
